/* line 3, ../sass/default.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/default.scss */
a {
  color: #1d1d1d;
}

/* line 8, ../sass/default.scss */
a:hover {
  text-decoration: none;
  color: #000000;
}

/* line 13, ../sass/default.scss */
body {
  background: #f8f8f829;
}

/* line 17, ../sass/default.scss */
#home {
  margin-bottom: 2.5rem;
}
/* line 19, ../sass/default.scss */
#home h4 {
  font-size: 2.5rem;
}
/* line 20, ../sass/default.scss */
#home #search-form {
  margin-top: 2rem;
  background: #fff;
  padding: 0.75rem;
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
/* line 25, ../sass/default.scss */
#home #search-form .input-group-prepend {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 30, ../sass/default.scss */
#home #search-form input[type="text"] {
  border: none;
  outline: none;
}
/* line 34, ../sass/default.scss */
#home #search-form .btn-primary {
  font-size: 0.9rem;
}

/* line 41, ../sass/default.scss */
#history h4 {
  font-size: 1.5rem;
}
/* line 42, ../sass/default.scss */
#history li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
/* line 46, ../sass/default.scss */
#history .list-group-item:hover {
  background: #f8f8f8;
  cursor: pointer;
}
